* {
    --background: #333;
    --link-active: #ddd;
}

.topnav {
    overflow: hidden;
    position: relative;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
    flex-direction: column;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    background-color: var(--background);
}

.topnav button.icon {
    background: var(--background);
    width: 48px;
    height: 48px;
    color: white;
    display: block;
    right: 0;
    top: 0;
}

.active a:hover {
    background-color: var(--link-active);
}  

#links a:hover {
    background-color: darkslategray;
}
