#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}

.read-the-docs {
  color: #888;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
}

@media (max-width: 700px) {
  .card-container {
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 701px) {
  .card-container {
    flex-direction: row;
    gap: 50px;
  }
}