h1 {
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-size: 56px;
}

.container {
    display: grid;
    width: 600px;
    height: 600px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.btn {
    height: 64px;
    width: 64px;
    background: none;
    border: none;
}

.btn:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
}

.icn {
    height: 48px;
    width: 48px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}