.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.layout {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left {
    width: 50%;
    padding: 10px;
}

.right {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
